# Assessing
Use the space below to explore `all_alpha_08.csv` and `all_alpha_18.csv` to answer the quiz questions below.

In [1]:
import pandas as pd
df_08 = pd.read_csv('all_alpha_08.csv')
df_18 = pd.read_csv('all_alpha_18.csv')

In [10]:
print(df_08.shape)
print(df_08.duplicated().sum())
print(sum(df_08.isnull().sum(axis = 1) > 0))

(2404, 18)
25
199

In [12]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [11]:
print(df_18.shape)
print(df_18.duplicated().sum())
print(sum(df_18.isnull().sum(axis = 1) > 0))

(1611, 18)
0
2

In [13]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

In [23]:
for col in df_08.columns:
    print('{} : {}'.format(col, len(df_08[col].dropna().unique())))

Model : 436
Displ : 47
Cyl : 8
Trans : 14
Drive : 2
Fuel : 5
Sales Area : 3
Stnd : 12
Underhood ID : 343
Veh Class : 9
Air Pollution Score : 13
FE Calc Appr : 2
City MPG : 39
Hwy MPG : 43
Cmb MPG : 38
Unadj Cmb MPG : 721
Greenhouse Gas Score : 20
SmartWay : 2

In [24]:
for col in df_18.columns:
    print('{} : {}'.format(col, len(df_18[col].dropna().unique())))

Model : 367
Displ : 36
Cyl : 7
Trans : 26
Drive : 2
Fuel : 5
Cert Region : 2
Stnd : 19
Stnd Description : 19
Underhood ID : 230
Veh Class : 9
Air Pollution Score : 6
City MPG : 58
Hwy MPG : 62
Cmb MPG : 57
Greenhouse Gas Score : 10
SmartWay : 3
Comb CO2 : 299

In [26]:
print(df_08['Cyl'].unique())
print(df_18['Cyl'].unique())

['(6 cyl)' '(4 cyl)' '(12 cyl)' '(8 cyl)' '(10 cyl)' '(16 cyl)' '(5 cyl)'
 nan '(2 cyl)']
[  6.   4.   5.  12.  16.   8.  nan   3.]

In [27]:
print(df_08['Fuel'].unique())
print(df_18['Fuel'].unique())

['Gasoline' 'ethanol/gas' 'ethanol' 'diesel' 'CNG']
['Gasoline' 'Gasoline/Electricity' 'Diesel' 'Ethanol/Gas' 'Electricity']